@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family:"Roboto";
    margin:0;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-top: 10px;
}

.links{
    display: flex;
    align-items: center;
    gap:15px;
    padding-right: 16px;
}

.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    gap: 20px;
}

.internal{
    display: flex;
    flex-direction: column;
    width: 900px;
    gap: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    padding:75px 150px;
    gap:16px;
}

.content{
    display: flex;
    gap:16px;
}

#author{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    padding-left: 16px;
    font-weight: 900;
}


.main{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.hero button{
    width:100px;
    color: #E5E7EB;
    font-weight: bold;
    border: 2px solid #3882f6;
    border-radius: 8px;
    padding: 8px 14px;
}

button, .call {
    background-color: #3882f6;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    padding:100px;
}

.image{
    margin-right: 35px;
    padding: 100px;
    width: 400px;
    background-color: grey;
    text-align: center;
}

.placeholder{
    padding: 50px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.placeholder, .image {
    color: #E5E7EB;
}

.call{
    margin:75px 100px;
    padding: 25px;
    border-radius: 8px;
    width: 50;
}

.full{
    display: flex;
    gap: 24px;
    width: 25;
    border: 5px solid red;
    padding: 10px;
}

#main{
    color: #f9faf8;
    font-weight: 900;
}

.call button{
    width:100px;
    color: #E5E7EB;
    font-weight: bold;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    padding: 8px;
}


.footer, .hero{
    background-color:#1F2937 ;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}