@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.body{
    font-family:"Roboto";
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.links{
    display: flex;
    align-items: center;
    gap:15px;
    padding-right: 16px;
}

.hero{
    display:flex;
    justify-content: center;
    align-items: center;
}

.internal{
    display: flex;
    flex-direction: column;
}

.secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

.main{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.title{
    font-size: 36px;
    font-weight: 900;
    background-color: #1F2937;
}

button, .call {
    background-color: #3882f6;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.placeholder{
    border:2px solid #3882f6;
    padding:15px;
    border-radius: 3px;
}

.footer, .hero{
    background-color:#1F2937 ;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}